body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #F8B225;
  color: #fff;
  // text-shadow: 1px 1px black;
}

a {
  text-decoration: none;
  text-shadow: 1px 1px black;
  color: #fff;
}
