<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://i.pinimg.com/originals/9b/08/36/9b0836bc7a3cc51b178ca8ce6c3de89e.jpg);">
  <div class="container">

  <h1 class="mb-3">Câlinez qui vous croisez</h1>
  <p class="mb-3">Au détour d’une rue, en terrasse, au boulot, en soirée... Grâce à HUG(E), câlinez les personnes que vous avez croisées !</p>
    <div class="d-flex justify-content-between">
      <div class="my-grid">

      <%= link_to "Retrouvez des HUGGERS", users_path, class: "btn btn-color-custom-orange text-light mt-3 mb-3"%>
      <%= link_to "Devenez un HUGGER", new_user_registration_path, class: "btn btn-color-custom-orange text-light mt-3 mb-3" %>

      </div>
    </div>
  </div>
</div>

<div class="container-sm w100">
  <div class="border-custom-orange shadow-lg rounded mt-3 p-3">
    <H2>TOUT COMMENCE PAR UN CÂLIN...</H2>
    <p>HUG(E), c’est l’application qui vous connecte à toutes ces personnes que vous croisez chaque jour, celles qui font partie de votre quotidien !</p>
    <p>Nous vous offrons une nouvelle façon de reconnecter plus facilement avec les personnes autour de vous : la HUG(E) MAP !</p>
  </div>
  <div class="border-custom-orange shadow-lg rounded mt-3 mb-3 p-3">
    <H3>...AUTANT MÉLER L'UTILE À L'AGRÉABLE !</H3>
    <p>Et oui ! Nous pensons que réunir deux personnes au même endroit, au même moment, mérite des cadeaux, non ?</p>
    <p>Chaque câlin vous rapporte des points afin de faire evoluer votre Cactus ! À vous de proposez un câlin !</p>
  </div>
</div>
