<div id="modal">
	<div class="container-modal">
		<div class="message">
      <h1><%=current_user.nickname%></h1>
      <p>Send you a hug request</p>
      <%= link_to "Accept", hug_path(hug), id: "accept" %>
      <%= link_to "Refuse", hug_path(hug), method: :delete, id: "refuse" %>
    </div>
	</div>
</div>
