<div data-controller='camera'>
 <div style= "position: relative;">
  <%= link_to 'Retour', :back,class: "btn btn-color-custom-orange text-light mb-2 btn-lg", style: "position: absolute; bottom: 20px; left: 20px; z-index: 9999;" %>
  <iframe frameborder="0" id="camera" src='<%="#{request.protocol}#{request.env['HTTP_HOST']}/ar.html"%>'></iframe>
 </div>
</div>
