<div class="container hug"
  data-controller="hug-subscription"
  data-hug-subscription-hug-id-value="<%= @hug.id %>">
  <h1><%= @hug.id %></h1>
</div>
  <div class="hug" data-hug-subscription-target="hug-popup">
