#modal {
  position: fixed;
  // position: absolute;
  z-index: 600 ;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4)
}

.container-modal{
  position: absolute;
  z-index: 800;
  height: 150px;
  width: 300px;
  background-color: white;
  margin-left: 10%;
  margin-top: 50%;
  border-radius: 10px;
  text-align: center;
  padding-top: 15px;
  color: black;
}

#accept {
  color: white;
  background-color: #6BA708;
  border-radius: 5px;
  padding: 10px;
  margin-right: 4px
}

#refuse {
  color: white;
  background-color: #FF6333;
  border-radius: 5px;
  padding: 10px;
  margin-left: 4px
}
