// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "map";
@import "map-icon";
@import "user-color";
@import "cards";
@import "camera";

@import "hug_modal";
@import "accept_hug_modal";
@import "utils";
@import "denied_hug_modal";


.card-img-top {
  width: 100%;
  height: 300px;
  object-position: center;

}

// @import "progress-bar"
