.mapboxgl-popup {
  max-width: 200px;
  border-radius: 15px;
  box-shadow: 15px 15px 15px black;
}

.mapboxgl-popup-content {
  background: $custom-green;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}
