.navbar-lewagon {
  justify-content: space-between;
  background: #FF6333;
  position: sticky;
  bottom: 0%;
  margin-bottom: 0%;
  display: flex;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
  height: 32px;
  border-radius: 50px;
}
.navbar {
  // flex-grow: 1;
}
