.navbar-lewagon {
  justify-content: space-between;
  background: #FF6333;
  position: sticky;
  color: white;
  bottom: 0%;
  margin-bottom: 0%;
  display: flex;
  z-index: 990;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
  height: 40px;
  border-radius: 50%;

}

.icon:hover {
  color: #F8B225;
}
