.bg-custom-green {
  background-color: $custom-green;
}

.bg-custom-gray {
  background-color: #FF6333;
}

.border-custom-orange {
  border-color: $custom-orange;
}

.btn-color-custom-orange {
  background-color: $custom-orange;
  border-color: $custom-orange;
}

.text-custom-yellow {
  color: $custom-yellow;
}
.form-control {
  border-radius: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.btn-custom-green {
  background-color: $custom-green;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.btn-custom-gray {
  background-color: $custom-gray;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.border-custom-gray {
  border-color: $custom-gray;
}
.br-widget {
  display: flex;
  justify-content: center;
}

.br-theme-css-stars .br-widget a:after {
  content: "\2605";
  color: #d2d2d2;

}

.stars {
  text-decoration: none;
  height: 30px;
  width: 30px;
  font-size: 30px;
  margin-right: 15px;
  > i {
    height: 30px;
    white-space: nowrap;
  }

  > i.active {
    color: #EDB867
  }

}

.btn-custom-orange {
  background-color: $custom-orange;
  border-radius: 50%px;
  padding: 1px 1px 1px 1px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}
.user-link {
  color: #fff;
  font-size: 14px;
  font-weight: bold;
}
.user-link:hover {
  color:$custom-orange;
}

.map-box {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 15px 15px 15px 15px rgba(0,0,0,0.75);
  padding: 20px;
}

#pop-up {
  height: 100px !important;
  width: 200px !important;
  border-radius: 5px;
  box-shadow: 15px 15px 15px 15px rgba(0,0,0,0.20);
  padding: 20px;
}
