.bg-custom-green {
  background-color: $custom-green;
}

.bg-custom-gray {
  background-color: $custom-gray;
}

.border-custom-orange {
  border-color: $custom-orange;
}

.btn-color-custom-orange {
  background-color: $custom-orange;
  border-color: $custom-orange;
}

.text-custom-yellow {
  color: $custom-yellow;
}
.form-control {
  border-radius: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.btn-custom-green {
  background-color: $custom-green;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.btn-custom-gray {
  background-color: $custom-gray;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.border-custom-gray {
  border-color: $custom-gray;
}

.br-theme-css-stars .br-widget a:after {
  content: "\2605";
  color: #d2d2d2;
  padding-left: 85px;
}

.stars {
  text-decoration: none;
  height: 18px;
  width: 18px;
  font-size: 23px;
  margin-right: 5px;
  > i {
    height: 28px;
    white-space: nowrap;
  }

  > i.active {
    color: #EDB867
  }

}

.btn-custom-orange {
  background-color: $custom-orange;
  border-radius: 50%px;
  padding: 1px 1px 1px 1px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}
