.bg-custom-green {
  background-color: $custom-green;
}

.border-custom-orange {
  border-color: $custom-orange;
}

.btn-color-custom-orange {
  background-color: $custom-orange;
  border-color: $custom-orange;
}

.text-custom-yellow {
  color: $custom-yellow;
}
.form-control {
  border-radius: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.btn-custom-green {
  background-color: $custom-green;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.btn-custom-gray {
  background-color: $custom-gray;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}
