<div class="container d-flex flex-column mb-3 justify-content-center mt-30px">

  <h1>Comment était ce HUG(E)?</h1>
  <p>Récompense ton HUGGER en lui donnant 5 étoiles!</p>

  <% if current_user.reviews.find_by(hug:@hug) %>
    <div class="bg-custom-gray shadow-lg rounded m-3 p-3">
      <div class="stars d-flex">
        <% 5.times do |i| %>
          <% if current_user.reviews.find_by(hug:@hug).rating > i %>
            <i class="fa-solid fa-star active"></i>
          <% else %>
            <i class="fa-solid fa-star"></i>
          <% end %>
        <% end %>
      </div>
    </div>

  <% else %>
    <%= render 'reviews/form', hug: @hug, review: @review %>
  <% end %>
</div>
